[submodule "frontend"]
	path = frontend
	url = https://github.com/rangseyhome/tfd-nuxt-tailwind-boilerplate
[submodule "backend"]
	path = backend
	url = https://github.com/rangseyhome/tfd-nest-boilerplate
